* { 
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  padding: 0;
}

a {
  text-underline-offset: 10px;
}

body {
  font-family: 'Montserrat';
  /* border: 2px red solid; */
  min-height: 100vh;
}

#hero {
  position: relative;
  /* border: 2px red solid; */
  color: white;
  width: 100%;
}

#hero #img-overlay {
  position: absolute;
  border: 2px purple solid;
  width: 100%;
  height: 100%;
}

#hero-image {
  width: 100%;
  /* need all carousel img same height */
  height: 900px;
}

#hero nav {
  padding-left: 127px;
  padding-right: 122px;
  padding-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#hero h2 {
  font-weight: bolder;
}

#hero nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hero nav ul li {
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

#carousel {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 2px yellow solid; */
  height: 100%;
  width: 100%;
}

#carousel-content {
  padding-left: 123px;
  /* border: 2px red solid; */
  /* 
    causes strange scrolling behavior
    on carousel interaction if height not set
    maybe has something to do with container 
    size changing?
  */
  height: 250px; 
}

#carousel-content h1 {
  font-size: 55px;
  font-weight: 400;
  width: 1000px;
  margin-bottom: 49px;
}

#carousel-content a {
  font-size: 20px;
  color: white;
}

#carousel-controls {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

main {
  border: 2px red solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 182px;
  width: 100%;
  margin-top: 56px;
  margin-bottom: 100px;
}

main aside {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 900;
}

.main-section {
  border: 2px green solid;
  min-width: 500px;
  max-width: 1200px;
}

.main-section h2 {
  font-size: 40px;
}

.main-section p {
  font-size: 25px;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro h2 {
  font-weight: 600;
  font-size: 30px;
}

#intro p {
  font-family: 'Inter';
  font-size: 22px;
}

#intro aside {
  /* font-size: 20px; */
  margin-top: 20px;
}

#intro-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#intro-content div {
  display: column;
  row-gap: 30px;
}

#services {
  display: flex;
  flex-direction: column;
  row-gap: 75px;
}

#services section {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

#services h2 {
  font-weight: 600;
  /* font-size: 40px; */
  margin-bottom: 30px;
}

#services img {
  max-width: 500px;
}

#case-studies {
  border: 2px red solid;
  display: flex;
  flex-direction: column;
}

#case-studies p:nth-child(2) {
  margin-top: 50px;
}

#case-studies p {
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

#case-study-slide {
  display: flex;
  flex-direction: row;
  column-gap: 138px;
}

#careers {
  position: relative;
  color: white;
}

#careers h2 {
  font-weight: 400;
  width: 80%;
  margin-bottom: 46px;
}

#careers a {
  font-size: 20px;
  color: white;
}

#careers img {
  width: 100%;
}

#career-img-overlay {
  position: absolute;
  top: 50%;  
  transform: translateY(-50%); 
  padding-left: 121px;
}

